<h1>Musicians</h1>

<a href="/">Home</a>

<span> |</span>

<a href="/musicians/new">New Musician</a><br/><br/>

<% @musicians.each do |musician| %>
  <a href="/musicians/<%= musician.id %>"><%= musician.name %></a><br/>
  <ul>
    <li>Is looking for work: <%= musician.hirable %></li>
    <li>Age: <%= musician.age %></li>
  </ul>
  <br/><br/>
<% end %>