<h1><%= @musician.name %></h1>

<nav>
  <a href="/">Home</a> |
  <a href="/orchestras/">Orchestras</a> |
  <a href="/musicians/">Musicians</a> |
  <a href="/composers/">Composers</a> |
  <a href="/songs/">Songs</a> |
  <a href="/musicians/<%= @musician.id %>/edit">Edit</a>

</nav><br/>

Is looking for work: <%= @musician.hirable %>
Age: <%= @musician.age %>