<h1>Composers</h1>

<a href="/">Home</a>

<span> |</span>

<a href="/composers/new">New Composer</a><br/><br/>

<% @composers.order(:created_at).each do |composer| %>
  <a href="/composers/<%= composer.id %>"><%= composer.name %></a>,
  Created: <%=composer.created_at%><br/><br/><br/><br/>
<% end %>