<h1>Songs</h1>

<a href="/">Home</a>

<span> |</span>

<a href="/songs/new">New Song</a><br/><br/>

<% @songs.each do |song| %>
  <a href="/songs/<%= song.id %>"><%= song.name %></a><br/><br/>
<% end %>