<h1>Orchestras</h1>

<a href="/">Home</a>

<span> |</span>

<a href="/orchestras/new">New Orchestra</a><br/><br/>

<% @orchestras.each do |orchestra| %>
  <a href="/orchestras/<%=orchestra.id%>"><%=orchestra.name%></a><br/><br/>
<% end %>