<h1>Orchestras</h1>

<a href="/">Home</a>

<span> |</span>

<a href="/orchestras/new">New Orchestra</a><br/><br/>

<% @orchestras.order(:created_at).each do |orchestra| %>
  <a href="/orchestras/<%=orchestra.id%>"><%=orchestra.name%></a>,
  Created: <%=orchestra.created_at%><br/><br/>
<% end %>