<h1>New Orchestra</h1>

<nav>
  <a href="/">Home</a> |
  <a href="/orchestras/">Orchestras</a> |
  <a href="/musicians/">Musicians</a> |
  <a href="/composers/">Composers</a> |
  <a href="/songs/">Songs</a>
</nav><br/>

<form method="post" action="/orchestras">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <h4>Enter a New Orchestra</h4>
  <p>Name:</p>
  <input type="text" name='orchestra[name]'/><br/>
  <p>City:</p>
  <input type="text" name='orchestra[city]'/><br>
  <p>Is Hiring?</p>
  <input type="text" name='orchestra[hiring]'/><br/>
  <p>Max Number of Musicians:</p>
  <input type="text" name='orchestra[max_musicians]'/><br/><br/>
  <input type='submit'/>
</form>